.areaPorta{
    position: relative;
    height: 310px;
    width: 200px;
    border-bottom: 10px solid #AAA;
    margin-bottom: 20px;
    font-size: 3rem;
    
    display: flex;
    justify-content: center;
}

.molduraPorta {
    position: absolute;
    height: 300px;
    width: 180px;

    border-left: 5px solid brown;
    border-top: 5px solid brown;
    border-right: 5px solid brown;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.porta {
    position: absolute;
    top: 5px;
    height: 295px;
    width: 170px;
    background-color: chocolate;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.porta .fechadura {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: brown;
    align-self: flex-start;
    margin-top: 60px;
}

.molduraPorta.selecionada {
    border-left:  5px solid yellow;
    border-top:  5px solid yellow;
    border-right:  5px solid yellow;
}

.porta .selecionada{
    color: yellow;
}

.porta .fechadura.selecionada {
    background-color: yellow;
}

.porta.aberta{
    background-color: #0007;
}

.porta.aberta .fechadura {
    display: none;
}

.porta.aberta .numero {
    display: none;
}